@charset "UTF-8";
/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* configuraciones globales */
body {
  max-width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #000000;
  color: #ffffff;
}

/* header */
.header-title {
  width: 100%;
  height: 140px;
  padding: 150px 10px;
  background-color: #c90404;
}
.header-title img,
.header-title h1 {
  display: inline;
}
.header-title img {
  width: 50px;
}
.header-title h1 {
  font-size: 2rem;
  margin: 10px;
}

/* Menú */
.menu {
  width: 100%;
  position: fixed;
  background-color: #c90404;
  z-index: 100;
}
.menu .menu-logo {
  width: 30px;
}
.menu .menu-logo img {
  width: 30px;
  transform: rotate(0deg);
  animation: logo-rotacion 2s;
}
@keyframes logo-rotacion {
  0% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* Configuraciòn personalizada de las cards */
.card-custom {
  width: 18rem;
}

/* páginas */
/* index.html */
.titulo {
  width: 100%;
  background-color: #c90404;
  background-image: url("../assets/header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.titulo div {
  width: 100%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
  text-shadow: 2px 3px 5px black;
}
.titulo div h1 {
  font-size: 4rem;
}

.product-offer {
  width: 100%;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.product-offer .offer-title {
  font-size: 2rem;
  padding-top: 40px;
  text-align: center;
}
.product-offer .offer-cards {
  width: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* nosotros.html */
.nosotros {
  width: 100%;
  margin: auto;
  padding-top: 100px;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nosotros p {
  width: 75%;
  font-size: 1.3rem;
  padding: 30px 0;
}

/* productos.html */
.products-gallery {
  width: 100%;
  padding-top: 40px;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.products-gallery .products-cards {
  width: auto;
  margin: auto;
  padding: 30px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

/* contacto.html */
.contact {
  width: 100%;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form-contact {
  width: 100%;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .form-contact form {
  width: 90%;
}
.contact .divider {
  width: 70%;
  height: 2px;
  margin: 40px 0;
}
.contact .contact-location {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact .contact-location iframe {
  width: 90%;
}
.contact .contact-location p {
  width: 90%;
  font-size: 1.3rem;
  text-align: center;
  padding: 10px 0;
}

/* carrito.html */
.cart {
  width: 100%;
  min-height: 90vh;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.cart .cart-title {
  width: 100%;
  padding: 20px;
}
.cart .cart-title h1 {
  font-size: 2rem;
}
.cart .table-compra {
  width: 100%;
}
.cart .table-compra .table-title h3 {
  font-size: 1rem;
  padding: 0 20px;
}
.cart .table-compra table tbody tr td img {
  width: 30px;
}
.cart .table-compra .table-compra {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
.cart .table-compra .table-compra .total {
  width: 100px;
  margin-bottom: 10px;
}
.cart .table-compra .table-compra .accion-comprar {
  width: 100px;
  height: 100px;
}

/* respuestaFormulario.html */
.saludo-contacto {
  width: 100%;
  height: 90vh;
  background-color: #444444;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.saludo-contacto p {
  width: 100%;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
  animation: text-animation 5s;
}
@keyframes text-animation {
  from {
    font-size: 3rem;
    color: #c90404;
  }
  to {
    font-size: 1rem;
  }
}

/* Media Queries */
@media screen and (min-width: 768px) {
  /* index.html */
  .product-offer .offer-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /* productos.html */
  .products-gallery .products-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  /* contacto.html */
  .contact .form-contact form {
    width: 60%;
  }
  /* respuestaFormulario.html */
  .saludo-contacto p {
    font-size: 1.4rem;
  }
  /* carrito.html */
  .cart {
    align-items: center;
  }
  .cart .table-compra {
    width: 80%;
  }
}
@media screen and (min-width: 1024px) {
  /* index.html */
  .product-offer .offer-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* productos.html */
  .products-gallery .products-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  /* contacto.html */
  .contact .form-contact form {
    width: 70%;
  }
  .contact .contact-location iframe {
    width: 70%;
  }
  .contact .contact-location p {
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  /* index.html */
  .product-offer .offer-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* productos.html */
  .products-gallery .products-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  /* contacto.html */
  .contact {
    flex-direction: row;
  }
  .contact .form-contact form {
    width: 60%;
  }
  .contact .divider {
    width: 2px;
    height: 500px;
  }
  .contact .contact-location iframe {
    width: 80%;
  }
  .contact .contact-location p {
    width: 80%;
  }
  /* carrito.html */
  .cart {
    align-items: center;
  }
  .cart .table-compra {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cart .table-compra .table-title {
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */