/* Menú */
.menu {
  width: map-get($width, 100);
  position: fixed;
  background-color: $principal;
  z-index: 100;

  .menu-logo {
    width: 30px;

    img {
      width: 30px;
      transform: rotate(0deg);
      animation: logo-rotacion 2s;
    }

    @keyframes logo-rotacion {
      0% {
        transform: rotate(180deg);
      }
      50% {
        transform: rotate(-270deg);
      }
      100% {
        transform: rotate(0deg);
      }
    }
  }
}
