@mixin reset {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-row($justify, $align) {
  display: flex;
  flex-direction: row;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify, $align) {
  display: flex;
  flex-direction: column;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid-columns($columns) {
  display: grid;
  grid-template-columns: $columns;
  gap: 20px;
}

